@use "@design-system/styles/utilities/variables" as vr;
@use "@design-system/styles/utilities/mixins" as mx;

.bottomLinks {
  display: flex;
  gap: vr.$spacingSizeL;
  margin: vr.$spacingSizeL 0 vr.$spacingSize6XL;
  flex: 1;
}

.bottomItem {
  color: var(--colorThunder);
  @include mx.fontSize(14px);
}

.bottomLink {
  color: inherit;
  text-decoration: none;
}

.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.poweredBy {
  margin: vr.$spacingSizeL 0 0;

  span {
    text-decoration: underline;
  }
}
@include mx.devices(mobile) {
  .bottomLinks {
    margin: vr.$spacingSizeL 0 0;
  }
  .bottomItem {
    @include mx.fontSize(12px);
  }
  .poweredBy {
    width: 100%;
    margin-bottom: vr.$spacingSizeXXL;
  }
}
