@use "@design-system/styles/utilities/variables" as vr;
@use "@design-system/styles/utilities/mixins" as mx;

.footer {
  display: flex;
  flex-direction: column;
  background-color: var(--colorBlack);
}

.imgWrapper {
  max-width: 300px;
  height: auto;
  position: relative;
  margin: auto;
}

.logo {
  width: 100%;
  height: auto;
}

@include mx.devices(mobile) {
  .imgWrapper {
    max-width: 200px;
    height: auto;
    position: relative;
    margin: auto;
  }
}
