@use "@design-system/styles/utilities/variables" as vr;
@use "@design-system/styles/utilities/mixins" as mx;

.title {
  text-align: center;
  font-weight: var(--fontWeightBold);
  @include mx.fontSize(32px);
  margin-bottom: vr.$spacingSizeXXL;
}
.contentWrapper {
  display: flex;
  justify-content: space-between;
  gap: vr.$spacingSizeXXL;
  align-items: stretch;
}

.formWrapper {
  width: 50%;
}

.infoWrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: vr.$spacingSizeXL;

  & > img {
    border-radius: 15px;
  }
}

.noteWrapper {
  border: 1px solid var(--colorWhite);
  padding: vr.$spacingSizeXXL;
  display: flex;
  flex-direction: column;
  gap: vr.$spacingSizeXL;
  border-radius: 15px;
}

.note {
  font-weight: var(--fontWeightBold);
  @include mx.fontSize(24px);
}

.noteEmail {
  color: #f200ff;
}

@include mx.devices(tablet) {
  .contentWrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .formWrapper {
    width: 100%;
  }

  .infoWrapper {
    width: 100%;
  }
}

@include mx.devices(mobile) {
  .title {
    @include mx.fontSize(24px);
  }
  .note {
    @include mx.fontSize(18px);
  }

  .noteEmail {
    @include mx.fontSize(12px);
  }
}
