@use "@design-system/styles/utilities/variables" as vr;
@use "@design-system/styles/utilities/mixins" as mx;

.wrapper {
  padding: vr.$spacingSize3XL 0;
  min-height: 450px;
  display: flex;
  align-items: center;
  background-color: #14171C;
  color: var(--colorWhite);
}

.subtitle {
  color: var(--colorWhite);
  @include mx.fontSize(20px);
  margin-bottom: vr.$spacingSizeL;
}

.btns {
  display: flex;
  flex-wrap: wrap;
  gap: vr.$spacingSizeL;
  margin-top: vr.$spacingSizeL;
}

.buttonWrapper {
    display: flex;
}
.mailLink {
  display: inline-block;
  text-decoration: underline;
  color: var(--colorTextLink);
}
.contentWrapper {
  display: flex;
  align-items: center;
  gap: vr.$spacingSize4XL;

}
.box {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.btnBox {
  max-width: 200px;
  margin-top: vr.$spacingSizeXXL;
}

@include mx.devices(mobile) {
  .contentWrapper {
    flex-direction: column;
  }
  .box {
    width: 100%;
  }
  .btnBox {
    max-width: 250px;
    margin: vr.$spacingSizeXXL auto 0;
  }
  .box, .subtitle {
    @include mx.fontSize(16px);
  }
}
