@use "@design-system/styles/utilities/variables" as vr;
@use "@design-system/styles/utilities/mixins" as mx;

.wrapper {
  padding: vr.$spacingSize6XL 0;
}

.team {
  display: flex;
  flex-wrap: wrap;
}

.member {
  width: 33.33%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: vr.$spacingSizeM;
}


.imageWrapper {
  position: relative;
  z-index: 1;
  height: 305px;
  width: auto;
  aspect-ratio: 445/800;
  perspective: 1000px;
  right: 0;
  bottom: 0;
  overflow: hidden;
  margin-bottom: vr.$spacingSizeL;

  img {
    position: absolute;
    width: auto;
    height: 100%;
    backface-visibility: hidden;
    transition: 0.5s;
    bottom: 0;
    right: 0;
  }

  .image2 {
    transform: rotateY(180deg);
  }
}

.element {
  display: flex;
  gap: vr.$spacingSizeXS;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.emailText {
  font-weight: var(--fontWeightBold);
}
.name {
  @include mx.fontSize(24px);
  font-weight: var(--fontWeightBold);
}
@media only screen and (min-width: 770px) {
  .imageWrapper {
    transition: 0.5s ease-in-out;

    &:hover {
      cursor: pointer;

      .image1 {
        transform: rotateY(-180deg);
      }

      .image2 {
        transform: rotateY(0deg);
      }
    }
  }
}


@include mx.devices(desktop) {
  .member {
    width: 50%;
  }
}

@include mx.devices(mobile) {
  .member {
    width: 100%;
    padding: vr.$spacingSizeL 0;
  }

  .element .iconWrapper {
    display: none;
  }
}
