@use "@design-system/styles/utilities/variables" as vr;
@use "@design-system/styles/utilities/mixins" as mx;

.wrapper {
  position: relative;
  background-color: var(--colorBlack);
  color: var(--colorWhite);
}

.postWrapper {
  background: var(--colorBlack);
  padding: vr.$spacingSize6XL 0;

  &.isEven {
    background-color: var(--colorWhite);
  }
}
.post {
  display: flex;
  gap: vr.$spacingSize3XL;

  &.isEven {
    flex-direction: row-reverse;
    color: var(--colorBlack);
  }
}

.imgSection {
  display: flex;
  flex-direction: column;
  gap: vr.$spacingSizeM;
  width: 50%;

  .columnsSection {
    display: flex;
    width: 100%;
    gap: vr.$spacingSizeM;
    height: 500px;
  }

  .leftImgColumn {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: vr.$spacingSizeM;
  }

  .rightImgColumn {
    display: flex;
    width: 50%;
  }

  .imgWrapper {
    position: relative;
    width: 100%;
    flex: 1;
    cursor: pointer;
    overflow: hidden;
  }

  .postImg {
    transition: transform 0.3s ease-in-out;
    object-fit: cover;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.thumbnailsWrapper {
  display: flex;
  gap: vr.$spacingSizeM;
}

.thumbnail {
  position: relative;
  width: 80px;
  height: 80px;
  cursor: pointer;
  border: 2px solid transparent;
  overflow: hidden;

  .thumbnailImg {
    transition: transform 0.3s ease-in-out;
    object-fit: cover;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.textSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  gap: vr.$spacingSizeXL;

  .postTitle {
    @include mx.fontSize(40px);
    font-weight: var(--fontWeightBold);
    line-height: 1.2em;
  }

  .postDescription {
    @include mx.fontSize(24px);
    text-transform: uppercase;
    line-height: 1.3em;
  }
}

@include mx.devices(desktop) {
  .thumbnail {
    width: 65px;
    height: 65px;
  }
}

@include mx.devices(mobile) {
  .wrapper {
    padding: vr.$spacingSizeXXL 0;
  }

  .post,
  .post.isEven {
    flex-direction: column-reverse;
  }

  .imgSection,
  .textSection {
    width: 100%;
  }

  .imgSection {
    .columnsSection {
      height: auto;
    }
    .leftImgColumn {
      display: none;
    }

    .rightImgColumn {
      width: 100%;
      aspect-ratio: 1/1;
    }

    .imgWrapper {
      aspect-ratio: 1/1;
      height: auto;
    }
  }

  .thumbnail {
    width: 50px;
    height: 50px;
  }
}
