@use "@design-system/styles/utilities/variables" as vr;
@use "@design-system/styles/utilities/mixins" as mx;

.wrapper {
  background-color: #14171c;
  padding: vr.$spacingSize5XL 0;

  .contentWrapper {
    display: flex;
  }
}

.sliderWrapper {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiperSlide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: right;
  align-items: flex-end;

  .title {
    @include mx.fontSize(52px);
    font-weight: var(--fontWeightBold);
  }

  .subtitle {
    @include mx.fontSize(18px);
    padding-left: vr.$spacingSizeXXL;
  }
}

@include mx.devices(desktop) {
  .content .subtitle {
    @include mx.fontSize(16px);
  }
}

@include mx.devices(tablet) {
  .content {
    .title {
      margin-top: vr.$spacingSizeXXL;
    }

    .subtitle {
      @include mx.fontSize(16px);
      padding: 0;
    }
  }
  .contentWrapper {
    flex-direction: column;
  }
  .sliderWrapper {
    width: 100%;
  }

  .content {
    width: 100%;
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

@include mx.devices(mobile) {
  .wrapper {
    padding: vr.$spacingSizeXXL 0;
  }
  .sliderWrapper {
    :global {
      .swiper-button-prev,
      .swiper-button-next {
        width: 35px;
        height: 35px;
        &::after {
          @include mx.fontSize(16px);
        }
      }

      .swiper-pagination-bullets {
        .swiper-pagination-bullet {
          width: 12px;
          height: 12px;

          &.swiper-pagination-bullet-active {
            border: 3px solid var(--colorWhite);
          }
        }
      }
    }
  }

  .swiperSlide {
    padding: 0;
  }

  .content {
    gap: vr.$spacingSizeL;
    .title {
      @include mx.fontSize(32px);
    }

    .subtitle {
      @include mx.fontSize(14px);
    }
  }
}
