@use "@design-system/styles/utilities/variables" as vr;
@use "@design-system/styles/utilities/mixins" as mx;

.wrapper {
  width: 100%;
  border: 1px solid var(--colorWhite);
  background-color: rgba(0, 0, 0, 0.6);

  position: relative;
  border-radius: 8px;
  color: var(--colorWhite);
  padding: 0 vr.$spacingSizeXXL;
}

.backgroundImage {
  opacity: 0.25;
}

.title {
  @include mx.fontSize(32px);
  font-family: var(--fontFamilySecondary);
  @include mx.fontGlow(6px);
  text-align: center;
  padding: vr.$spacingSizeL vr.$spacingSizeXXL;
}

.btnWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: vr.$spacingSizeL 0 vr.$spacingSizeXXL;
}

@include mx.devices(mobile) {
  .title {
    @include mx.fontSize(28px);
    padding: vr.$spacingSizeL 0;
  }
}

.wrapper {
  padding: 0 vr.$spacingSizeXL;
}
