@use "@design-system/styles/utilities/variables" as vr;
@use "@design-system/styles/utilities/mixins" as mx;

.header {
  background-color: var(--colorBlack);
  border-bottom: 1px solid var(--colorThunder);
  height: 90px;
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
}

.container {
  display: flex;
}

.wrapper {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.actionWrapper {
  display: flex;
  align-items: center;
}

.logoWrapper {
  height: 100%;
  padding: vr.$spacingSizeXXS;

  img {
    height: 100%;
    width: auto;
  }
}

@include mx.devices(tablet) {
  .header:after {
    display: none;
  }

  .actionWrapper {
    flex-direction: column;
    position: fixed;
    top: 90px;
    width: 100%;
    height: 0;
    left: 0;
    transform: none;
    overflow: hidden;
    background-color: var(--colorBlack);
    z-index: 2;
    transition: height 0.3s ease-in-out;

    &.activeNav {
      height: 100%;
    }
  }
}
