@use "@design-system/styles/utilities/variables" as vr;
@use "@design-system/styles/utilities/mixins" as mx;

.wrapper {
  position: relative;
  justify-content: center;
  background-color: #EDEDED;
  color: var(--colorBlack);
  padding: vr.$spacingSize5XL 0 vr.$spacingSize8XL;
}

.mainTitle {
  @include mx.fontSize(58px);
  text-align: center;
  padding: 0 0 vr.$spacingSize3XL;
  color: var(--colorWhite);
}

.content {
  position: relative;
  z-index: 1;
}

.boxWrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: auto;
  width: 100%;
  gap: vr.$spacingSize6XL;
}

.box {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  flex-grow: 1;
}

.contentBox {
  background: var(--colorBlack);
  color: var(--colorWhite);
  padding: vr.$spacingSizeXL;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.imgWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}


.boxTitle {
  font-weight: var(--fontWeightBold);
  @include mx.fontSize(32px);
  text-align: center;
}

.boxDescription {
  @include mx.fontSize(20px);
  padding: vr.$spacingSizeL 0;
  text-align: center;
}

.btnWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.boxBtn {
  margin-top: vr.$spacingSize3XL;
  width: auto;
}

@include mx.devices(desktop) {
  .boxDescription {
    @include mx.fontSize(16px);
  }
  .boxWrapper {
    gap: vr.$spacingSize3XL;
  }
  .boxTitle {
    @include mx.fontSize(24px);
  }
}

@include mx.devices(mobile) {
  .boxTitle,
  .mainTitle {
    @include mx.fontSize(32px);
  }

  .boxDescription {
    @include mx.fontSize(14px);
  }

  .boxWrapper {
    flex-direction: column;
    align-items: center;
  }
  .box {
    width: 100%;
  }

  .imgWrapper img {
    height: 63vw;
    width: auto;
  }
}
