@use "@design-system/styles/utilities/variables" as vr;
@use "@design-system/styles/utilities/mixins" as mx;

.gmap {
  width: 100%;
  height: 100%;
  position: absolute;
}

@include mx.devices(mobile) {
  .gmap {
    height: 300px;
    position: relative;
  }
}
